<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"> </header>

	<div class="container-fluid  py-4">
	 	
	    <div class="card bg-light">

<div class="card-header">TIMEFORGE MESSAJES</div>
			<div class="card-body">
				<h5 class="card-title">UI INTERFACE</h5>

				<form th:action="@{/mensaje/form}" th:object="${messagee}"	method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Telefono 1</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{para1}" class="form-control"
								th:errorclass="'form-control alert-danger'" placeholder="Número Télefono" /> 
								<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('para1')}" th:errors="*{para1}"></small>
						</div>
					</div>

				<!-- 
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Telefono 2</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{para2}" class="form-control"
								placeholder="Número Télefono"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('para2')}" th:errors="*{para2}"></small>
						</div>
					</div>
 -->
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Mensaje</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{mensaje}" class="form-control"
								placeholder="Mensaje a Enviar" cols="40" rows="5"
								style="width: 520px; height: 200px;"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}"></small>
						</div>
					</div>
					<div class="form-group row">
						<input type="submit" class="btn btn-primary m-2" value="Submit" />						
						<a href="/" class="btn btn-danger m-2" role="button" >Cancelar</a>
					</div>

				</form>

			</div>
			
		</div> 
	</div>

</body>


</html>


