<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<body>

	<header th:replace="layout/layout :: header"> </header>

	<div class="container-fluid  py-4">
		<div class="card bg-light">


			<div class="card-body">
				<div class="card-title">
					<h1>Envio de mensajes</h1>
				</div>
				<div class="card-text">
					<a href="/mensaje/envio"> Ir a envio de mensajes. </a> <br> <a
						href="/mensaje/listar"> Ver Listado de mensajes. </a>

				</div>
			</div>

		</div>
	</div>

</body>



</html>

